/* COMMON */
* {
    font-family: "Myriad Pro"!important;
}


/* HEADER */
.image-header {
  background: no-repeat url("images/header/header.png");
  background-size: cover;
  height: 802px;
  width: 100%;
}

.hamburger-icon {
  height: 38px;
  width: 100%;
}

.logo {
  margin: auto;
  padding: auto;
}

.opacity {
  background-color: rgba(26, 26, 26, 0.4);
}


.titre-header {
  font-family: 'Fjalla One'!important, sans-serif;
  padding-top: 500px;
  font-size: 24px;
}

/* SECTION QUI SOMMES NOUS */
.bg-qui-sommes-nous {
  background-color: #262626;
}

.titre-qui-sommes-nous {
  font-size: 36px;
  color: #eb2525!important;
}

.paragraphe-size-qui-sommes-nous {
  font-size: 25px;
}

.car-icon{
  height: 72px;
  width: 60px;
}

.bg-photo-presentation {
  background: no-repeat url("images/Qui_Sommes_Nous/auto-presentation.png");
  background-size: 100%;
  background-position: center;
  height: 750px;
  width:70%;

}

li {
  list-style: none;
}

.overlay-presentation {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #b74245;
}

.hover-presentation:hover .overlay-presentation {
  opacity: 0.6;
}

/* FOOTER */

.container-fluid {
  max-width: 1575px!important;
}

.bg-footer {
  background-color: rgba(26, 26, 26);
}

.color-red-footer {
  color: #eb2525;
}

.border-bottom-title {
  border-bottom: solid 3px #eb2525;
}
.border-top-footer {
  border-top: solid 3px #eb2525;
}

.font-size-title-footer {
  font-size: 36px;
}

.border-bottom-horaires {
  border-bottom: solid 1px #eb2525;
}

.font-size-tel-footer {
  font-size: 24px;
}

.font-size-contact-footer {
  font-size: 14px;
}

.icon-mail-size {
  height: 34px;
  width: 44px;
}

.icon-tel-size {
  height: 45px;
  width: 45px;
}

.font-size-horaires {
  font-size: 18px;
}

/* AVIS */
.lines {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 953px;
}

.margin-auto-avis {
  margin: auto;
  padding: auto;
}

.border-avis {
  border-radius: 25px;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  padding: 53px 136px 54px 136px;
  width: 912px;
  height: 433px;
}

.icone-auteur-spacing {
  padding-top: 50px;
  padding-left: 400px;
}

.auteur-icone-name {
  padding-left: 400px;
}

.carousel-position-avis {
  position: relative;
  bottom: 4em;
}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid #fff;
  border-radius: 10px;
}

.icone-quote {
  position: absolute;
  left: 65%;
}

.carousel-margin-paddin {
  padding-bottom: 150px;
}

.bg-image {
  background: no-repeat url("images/Avis/lines.png");
  background-position: center;
  background-size: 100%;
  width: 100%;
  height: 953px;
}

#carousel {
  padding-top: 300px;
}


/* FORM */
.bg-image-form {
  background: no-repeat url('images/Form/form-photo.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 990px;
}

.border-form {
  border: none!important;
  border-bottom: 1px solid #ffffff!important;
}

.margin-stars {
  margin-left: -100px;
}

::placeholder {
  color: #ffffff!important;
  text-transform: uppercase;
  font-size: 36px;
}

input{
  padding: 20px;
}

textarea {
  padding: 20px;
}

.size-text-form {
  font-size: 36px;
}


/* MEDIA QUERIES */
@media (min-width: 440px) {
  .mobile-button {
    display: none;
  }

  .footer-mobile {
    display: none;
  }
}

@media (max-width: 991px) {
  /* HEADER */
  .image-header {
    height: 392px;
  }

  .titre-header {
    padding-top: 220px;
  }

  .hamburger-icon {
    margin-top: 20px;
  }

  .logo {
    height: 55px;
    width: 135px;
    margin: auto;
    padding: auto;
  }

  /* QUI SOMMES NOUS */

  .titre-qui-sommes-nous {
    font-size: 24px;
  }

  .paragraphe-size-qui-sommes-nous {
    font-size: 13px;
  }


  .bg-photo-presentation {
    display: none;
  }

  /* CAROUSEL */

  .border-avis {
    border-radius: 25px;
    border: 2px solid #ffffff;
    background-color: #ffffff;
    padding: 10px 10px 10px 10px;
    width: 80%;
  }

  .icone-auteur-spacing {
    padding-top: 5px;
    padding-left: 4px;
  }

  .auteur-icone-name {
    padding-left: 4px;
  }

  .nav-left {
    display: none;
  }

  .nav-right {
    display: none;
  }

  .text-size-avis {
    font-size: 14px
  }

 /* FORM */
 .size-text-form {
   font-size: 18px;
 }

 ::placeholder {
   font-size: 18px;
 }

 .bg-image-form {
   height: 1280px;
 }

 .form-button {
   display: none;
 }

 .bg-image {
   margin-top: -220px;
   margin-bottom: -220px;
 }

 .stars-width-mobile {
   height: 24px;
   width: 20px;
 }

 /* FOOTER */

 .footer-desktop {
   display: none;
 }

 .font-size-title-footer {
   font-size: 18px;
 }

 .font-size-text-horaires {
   font-size: 12px;
 }

 .font-size-contact-footer {
   12px;
 }

 .font-size-copyright {
   font-size: 8px;
 }



}
